@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/breakpoints' as b;
@use 'sass:map';


.content{

    @include m.flex-center;
    flex-direction: column;
    gap: 80px;



    .error-code{
        font-weight: 700;
        line-height: 410px;
        font-size: 263px;
        color: map.get(v.$colors, 'primary');
 }

 .error-message{

    font-size: 36px;
    color: map.get(v.$colors, 'primary');
    font-weight: 500;
    display: flex;
    text-align: center;

 }

 .home-link{

    color: map.get(v.$colors, 'black');
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
 }
}


@include b.mobile{


   .content{
      gap:80px;
      margin-top: 40px;
      margin-bottom: 40px;

      .error-code{
         font-size: 99px;
         line-height: 99px;
      }
      .error-message{
         font-size: 18px;
      }

      .home-link{
         font-size: 14px;
      }
   }


}