
@use '../abstracts/mixins' as m;



.main-container {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 50px;
    margin: 20px auto;
    max-width: 1400px;
    place-items: center;

    h1 {
        display: flex;
        font-size: x-small;
    }
}


.card {
    width: 100%;
    max-width: 340px;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;

    .card-cover {
        @include m.img-cover;
        border-radius: 10px;
        position: absolute; // Ajout important
        z-index: 1; // L'image en premier
    }

    &::after {
        content: '';
        position: absolute;
        border-radius: 1Opx;
        inset: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 2; // Le dégradé au-dessus de l'image
    }

    h1 {
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 18px;
        line-height: 25.67px;
        position: absolute;
        bottom: 20px; // Position en bas
        left: 20px; // Position à gauche
        z-index: 3; // Le texte au-dessus de tout
    }
}