@use 'variables' as v;

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 40px;

    p {
        margin: 10px;
    }

    img{
        margin: 20px;
    }
}