@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as m;
@use '../../abstracts/breakpoints' as b;
@use 'sass:map';

.logement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .info-logement {
        margin-bottom: 20px;
        .titre-logement {
            color: map.get(v.$colors, 'primary'); 
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 10px;
            font-weight: 500;
        }

        .loc-logement {
            color: map.get(v.$colors, 'primary');
            font-size: 18px;
            font-weight: 500;
            color: map.get(v.$colors, 'black');
        }
      }
}


@include b.mobile {

.logement-header {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;

    .info-logement {
        margin-bottom: 10px;
        .titre-logement {
            font-size: 18px;
        }

        .loc-logement {
            font-size: 14px;
        }
    }

}
}